patches/
.git/
.minecraft/bongo-dump
.minecraft/crash-reports
.minecraft/data
.minecraft/Distant_Horizons_server_data
.minecraft/ESM
.minecraft/essential/
!.minecraft/essential/config.toml
.minecraft/fancymenu_data
.minecraft/logs
.minecraft/modernfix
.minecraft/patchouli_books
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/texturepacks
.minecraft/xaero
.minecraft/XaeroWaypoints_BACKUP*
.minecraft/XaeroWorldMap
.minecraft/.mixin.out
.minecraft/controller-options.txt
.minecraft/knownkeys.txt
.minecraft/patchouli_data.json
.minecraft/servers.dat_old
.minecraft/supportercache.json
.minecraft/TrashSlotSaveState.json
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/chunky/tasks
.minecraft/config/jei/world
.minecraft/config/world_preview/world-preview
.minecraft/config/.vscode

.minecraft/mods/battlemusic-1.20.1-1.1.1.jar

*.log